@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 39 56% 100%;
    --foreground: 169 89% 4%;
    --muted: 220 14.29% 95.88%;
    --muted-foreground: 200 19.12% 26.67%;
    --popover: 39 56% 100%;
    --popover-foreground: 169 89% 4%;
    --card: 0 0% 99%;
    --card-foreground: 169 89% 4%;
    --border: 157 95% 57%;
    --input: 157 95% 57%;
    --primary: 157 95% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 14.29% 95.88%;
    --secondary-foreground: 200 19.12% 26.67%;
    --accent: 157 95% 57%;
    --accent-foreground: 200 19.12% 26.67%;
    --destructive: 10 87% 27%;
    --destructive-foreground: 10 87% 87%;
    --ring: 157 95% 57%;
    --chart-1: 157 95% 57%;
    --chart-2: 220 14.29% 95.88%;
    --chart-3: 220 14.29% 95.88%;
    --chart-4: 220 14.29% 98.88%;
    --chart-5: 152.95 103% 37.84%;
    --radius: 0rem;
  }

  .dark {
    --background: 169 89% 4%;
    --foreground: 0 0% 100%;
    --muted: 215 27.91% 16.86%;
    --muted-foreground: 217.89 10.61% 64.9%;
    --popover: 169 89% 4%;
    --popover-foreground: 0 0% 100%;
    --card: 169 89% 4%;
    --card-foreground: 0 0% 100%;
    --border: 157 95% 57%;
    --input: 157 95% 57%;
    --primary: 157 95% 57%;
    --primary-foreground: 169 89% 4%;
    --secondary: 215 27.91% 16.86%;
    --secondary-foreground: 220 13.04% 90.98%;
    --accent: 157 95% 57%;
    --accent-foreground: 157 95% 7%;
    --destructive: 0 90.6% 70.78%;
    --destructive-foreground: 169 89% 4%;
    --ring: 157 95% 57%;
    --chart-1: 157 95% 57%;
    --chart-2: 215 27.91% 16.86%;
    --chart-3: 215 27.91% 16.86%;
    --chart-4: 215 27.91% 19.86%;
    --chart-5: 152.95 103% 37.84%;
  }
}

@layer base {
  * {
    @apply border-border uppercase;
  }
  body {
    @apply bg-background text-foreground;
  }

  :root,
  html,
  body,
  #root {
    min-height: 100%;
    --font-family: "Chakra Petch", sans-serif;
    text-transform: uppercase;
  }

  body {
    @apply bg-crt;
  }
}

@layer utilities {
  .bg-crt {
    background: repeating-linear-gradient(
      hsl(169, 89%, 3%) 0px,
      hsl(169, 89%, 5%) 3px,
      hsl(169, 89%, 3%) 6px
    );
  }
}
